<section class="addition">
  <div class="container">
    <h2 class="title title-2 addition__title">ДОПОЛНИТЕЛЬНО</h2>
    <ul class="list addition__list">
      <li class="addition__item">
        <img src="@img/addition.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">Бухгалтерское сопровождение</h5>
      </li>
      <li class="addition__item">
        <img src="@img/addition-2.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">Юридическое обслуживание</h5>
      </li>
      <li class="addition__item">
        <img src="@img/addition-3.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">Клининг</h5>
      </li>
      <li class="addition__item">
        <img src="@img/addition-4.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">
          ОХРАНА <br />
          ОБЪЕКТА
        </h5>
      </li>
      <li class="addition__item">
        <img src="@img/addition-5.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">Ремонтные работы</h5>
      </li>
      <li class="addition__item">
        <img src="@img/addition-6.svg" alt="icon" class="addition__icon" />
        <h5 class="title addition__item-title">Озеленение</h5>
      </li>
    </ul>
  </div>
  <div class="addition__banner">
    <div class="addition__banner-body">
      <img src="@img/diamond.png" alt="decor" class="addition__banner-decor">
      <img src="@img/addition.png" alt="image" class="addition__bannery-img">
      <p class="addition__banner-content">
        Наши специалисты ценят <br> ваше время и, поэтому <br> выполняют свою работу максимально быстро и в срок
      </p>
    </div>
  </div>
</section>
