<section class="consultation" id="consultation">
  <div class="container">
    <h2 class="title title-2 consultation__title">Консультации</h2>
    <div class="consultation__body">
      <div class="consultation__item">
        <h5 class="consultation__item-title">поиск новых <br> арендаторов</h5>
        <img src="@img/consultation-1.jpg" alt="image" class="consultation__item-img" />
      </div>
      <div class="consultation__item">
        <h5 class="consultation__item-title">сопровождение <br> действующих <br> договоров</h5>
        <img src="@img/consultation-2.jpg" alt="image" class="consultation__item-img" />
      </div>
      <div class="consultation__item">
        <h5 class="consultation__item-title">работа с дебиторской <br> задолженностью</h5>
        <img src="@img/consultation-3.jpg" alt="image" class="consultation__item-img" />
      </div>
    </div>
  </div>
</section>
