<header class="header">
  <div class="header__top">
    <div data-da=".header__nav-wrapper,1109,1" class="container header__top-container">
      <ul class="list header__list">
        <li class="header__item">
          <div class="header__wrapper-icon">
            <svg class="header__icon">
              <use xlink:href="img/icons/icons.svg#icon-time"></use>
            </svg>
          </div>
          <span>Пн-Сб 10:00 - 18:00</span>
        </li>
        <li class="header__item">
          <div class="header__wrapper-icon">
            <svg class="header__icon">
              <use xlink:href="img/icons/icons.svg#icon-location"></use>
            </svg>
          </div>
          <span>г. Москва, Дербенёвская набережная, д.7 стр.16 </span>
        </li>
        <li class="header__item">
          <div class="header__wrapper-icon">
            <svg class="header__icon">
              <use xlink:href="img/icons/icons.svg#icon-tel"></use>
            </svg>
          </div>
          <a href="tel:+74950190209">+7 (495) 01 902 09 </a>
        </li>
      </ul>
      <ul class="list header__social">
        <li>
          <a href="#" target="_blank" class="header__social-btn">
            <img src="@img/wh.svg" alt="icon" class="header__social-icon" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="header__social-btn">
            <img src="@img/tg.svg" alt="icon" class="header__social-icon" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__container">
      <a href="/" class="header__logo">
        <img src="@img/logo.svg" alt="logo" class="header__logo-img" />
      </a>
      <nav class="header__nav" id="burger">
        <div class="header__nav-wrapper">
          <button class="btn header__burger-close" id="burger-close">
            <div class="header__burger-close-wrapper">
              <span></span>
							<span></span>
            </div>
          </button>
          <ul class="list header__nav-list">
            <li>
              <a href="#main" class="anchor">Главная</a>
            </li>
            <li>
              <a href="#services" class="anchor">Наши услуги</a>
            </li>
            <li>
              <a href="#consultation" class="anchor">Гарантии</a>
            </li>
            <li>
              <a href="#objects" class="anchor">Наши объекты</a>
            </li>
            <li>
              <a href="#contacts" class="anchor">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
      <button data-modal="connection" data-da=".header__nav-wrapper,1109,2" class="btn btn-modal btn-primary header__btn">
        Заявка на клининг
      </button>
			<button class="btn header__burger-btn" id="burger-open">
				<span></span>
				<span></span>
				<span></span>
			</button>
    </div>
  </div>
</header>
<div data-modal="connection" class="modal">
  <div class="modal__overlay">
    <div class="modal__window">
      <button class="btn modal__close">
        <div class="modal__close-wrapper">
          <span></span>
          <span></span>
        </div>
      </button>
      <form action="#" class="form">
        <label for="mark" class="form__item">
          <input type="text" placeholder="Марка" id="mark" name="mark" class="form__input">
        </label>
        <label for="number-car" class="form__item">
          <input type="text" placeholder="Номер авто" id="number-car" name="number-car" class="form__input">
        </label>
        <div class="form__item form__item--choice">
          <input type="radio" id="cargo" name="type-car" class="form__radio" checked>
          <label for="cargo" class="form__radio-label">грузовой</label>
          <input type="radio" id="passenger" name="type-car" class="form__radio">
          <label for="passenger" class="form__radio-label">легковой</label>
        </div>
        <label for="day" class="form__item">
          <input type="text" placeholder="День" id="day" name="day" class="form__input">
        </label>
        <label for="month" class="form__item">
          <input type="text" placeholder="Месяц" id="month" name="month" class="form__input">
        </label>
        <label for="time" class="form__item">
          <input type="text" placeholder="Время" id="time" name="time" class="form__input">
        </label>
        <label for="tel" class="form__item form__item--full">
          <input type="tel" placeholder="Номер телефона" id="tel" name="tel" class="form__input">
        </label>
        <label for="email" class="form__item form__item--full">
          <input type="email" placeholder="Почта" id="email" name="email" class="form__input">
        </label>
        <label for="comment" class="form__item form__item--full">
          <textarea placeholder="Дополнительная информация и комментарии" name="comment" id="comment" class="form__input form__input--comment"></textarea>
        </label>
        <button class="btn btn-primary form__btn">Отправить заявку</button>
      </form>
    </div>
  </div>
</div>