<section class="objects" id="objects">
  <div class="container">
    <h2 class="title title-2 objects__title">Наши объекты</h2>
    <div class="objects__body">
      <div class="objects__item">
        <img src="@img/object-1.webp" alt="image" class="objects__img" />
        <p class="objects__item-content">
          г. Москва, Большой Тишинкий пер. д. 38, 2 000 кв.м. Комплексное управление
        </p>
      </div>
      <div class="objects__item">
        <img src="@img/object-2.webp" alt="image" class="objects__img" />
        <p class="objects__item-content">
          г. Москва, Дербеневская наб. д.7, БК "Новоспасский", 120 000 кв.м. Комплексное управление
        </p>
      </div>
      <div class="objects__item">
        <img src="@img/object-3.webp" alt="image" class="objects__img" />
        <p class="objects__item-content">
          г. Москва, ул. Искры, д.31, корп.1, БЦ "Искра", 4 000 кв.м. Комплексное управление
        </p>
      </div>
      <div class="objects__item">
        <img src="@img/object-4.webp" alt="image" class="objects__img" />
        <p class="objects__item-content">
          Московская область, городской округ Лосино-Петровский, рп. Свердловский, ул. Задосткая д.1А, 17 000 кв.м. Комплексное управление.
        </p>
      </div>
    </div>
  </div>
</section>
