@font-face {
	font-family: Futura;
	font-display: swap;
	src: url("../fonts/Futura-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Futura;
	font-display: swap;
	src: url("../fonts/Futura-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: MyriadPro;
	font-display: swap;
	src: url("../fonts/MyriadPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
